@import "tailwindcss";
@import "@zoo/ui/globals.css";
@import "@zoo/design-tokens/themes/muzigal";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#root {
  min-height: 100vh;
}
